## Data preparation

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset = pd.read_csv('50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [17]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [18]:
# convert categorical features to numerical (one-hot encoding)
# we can drop one of the categories as 4 states of 2 columns (00, 01, 10, 11)
# is enough to present 3 categories (no need to keep 001, 010, 100)
states = pd.get_dummies(X['State'], drop_first=True)
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [19]:
X = X.drop('State', axis=1)
X = pd.concat([X, states], axis=1)
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

## Multiple Linear Regression

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [23]:
from sklearn.linear_model import LinearRegression
lin_regressor = LinearRegression()
lin_regressor.fit(X_train, y_train)

LinearRegression()

In [24]:
y_pred = lin_regressor.predict(X_test)

In [27]:
from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred)
score

0.931581519915206